<ion-side-menus enable-menu-with-back-views="false">

    <!-- MENU DE GAUCHE -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark item-input-inset">
            <h1 class="title dark item-text-wrap">FILTRES</h1>
        </ion-header-bar>
        <ion-content padding="true" scroll="false" class="dark-bg">

        </ion-content >
    </ion-side-menu>
    <!-- FIN MENU DE GAUCHE -->

    <!-- CONTENT -->
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <!-- FIN CONTENT -->


    <!-- MENU DE DROITE -->
    <ion-side-menu side="right">
        <ion-header-bar class="bar bar-header bar-dark item-input-inset">
            <h1 class="title dark item-text-wrap">HISTORIQUE</h1>
        </ion-header-bar>
        <ion-content padding="true" scroll="false" class="dark-bg">
            <div class="list">
                <a ng-repeat="item in history" class="item dark-bg" style="border: none;" href="#">
                    <h2 class="light" style="font-weight:700; font-size: 1.1em;">{{item.results}} résultat<span ng-if="item.results > 1">s</span></h2>
                    <p class="light">{{item.date}}</p>
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
    <!-- FIN MENU DE DROITE -->

</ion-side-menus>
