<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content style="background-color: #444444; border: none;">
            <ion-toggle ng-model="airplaneMode1" toggle-class="toggle-calm1" style="background-color: #444444;border: none; color: #FFF;">
                Filtre 1
            </ion-toggle>
            <ion-toggle ng-model="airplaneMode2" toggle-class="toggle-calm2" style="background-color: #444444;border: none; color: #FFF;">
                Filtre 2
            </ion-toggle>
            <ion-toggle ng-model="airplaneMode3" toggle-class="toggle-calm3" style="background-color: #444444;border: none; color: #FFF;">
                Filtre 3
            </ion-toggle>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
